html, body {
    height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 67.5%;
    line-height: 1.5;
}
.bodystyles {
    background-color: #110508;
    color: #000000;
}
em {
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.67em 0;
}
h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}
h4 {
    font-size: 1em;
    margin: 1.12em 0;
}
h5 {
   font-size: 0.83em;
    margin: 1.5em 0;
}
h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
}
hr {
    background-color: #000000;
    border: medium none;
    color: #000000;
    height: 1px;
    margin: 1em 0;
}
input {
    margin-right: 0.25em;
}
input[type="submit"] {
    cursor: pointer;
    font-size: 1em;
    padding: 0.1em 0.5em;
}
input[type="text"] {
    font-size: 1em;
    padding: 0.25em 0.5em;
}
ul, ol, dl {
}
ol {
    list-style: decimal outside none;
    margin-left: 1.5em;
    text-indent: -0.25em;
}
ol ol {
    list-style: lower-alpha outside none;
}
p {
    line-height: 1.7em;
}
strong {
    font-weight: bold;
}
ul {
    list-style: disc outside none;
    margin-left: 1.25em;
}
ul ul {
    list-style: circle outside none;
}
div#wrapper {
    height: 764px;
    margin: 0 auto;
    position: relative;
    width: 972px;
}
.home {
    background: url("../images/wilson-bg-grinder.jpg") no-repeat scroll center -60px #110508;
}
.interior1 {
    background: url("../images/RV_Wilson Site 2bckgrd_blank_ALT.jpg") no-repeat scroll center top #000000;
}
.interior2 {
    background: url("../images/interior2-bg.jpg") no-repeat scroll center 56px #000000;
}
div#header {
    clear: both;
    float: left;
    height: 159px;
    margin-top: 70px;
    width: 100%;
    z-index: 1;
}
div#logo {
    background: url("../images/logo.png") no-repeat scroll left top transparent;
    float: left;
    height: 92px;
    margin-left: 198px;
    width: 472px;
}
div#logo a {
    display: block;
    height: 100px;
    outline-style: none;
    text-indent: -9999px;
    width: 470px;
}
div#logo h1 {
    margin: 0;
}
#login {
    background: url("../images/login-icon.png") no-repeat scroll center top transparent;
    float: right;
    height: 95px;
    margin-right: 17px;
    width: 128px;
}
#login a {
    color: #BA0C2F;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 57px;
    position: absolute;
    right: 35px;
    text-decoration: none;
    top: 83px;
    z-index: 99;
}
#spanish {
    padding-top: 0 !important;
    top: 151px !important;
}
#english {
    color: #0096BE;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 0 !important;
    position: absolute;
    text-decoration: none;
    top: 20px !important;
	right:250px;
}
#login a:hover, #english:hover {
    text-decoration: underline;
}
#search {
    position: absolute;
    right: 0;
    top: 146px;
	width:400px;
}
* + html #search {
    right: 10px;
}
div.mSiteSearch {
    float: right;
    width: 250px;
}
div#content {
    clear: both;
    float: left;
    width: 100%;
}
div#column_left {
    float: left;
    margin-left: 8px;
    padding-right: 15px;
    width: 179px;
}
#column_left_interior {
    float: left;
    margin-left: 25px;
    padding-right: 15px;
    position: relative;
    width: 164px;
}
#homeButton {
    font-size: 1.5em;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 0;
}
#column_left_interior a {
    color: #FFFFFF;
    text-decoration: none;
}
#column_left_interior a:hover {
    color: #BA0C2F;
}
#welcomeScroll {
    border-top: 1px solid #0096BE;
    width: 195px;
}
#welcomeScroll p {
    color: #FFFFFF;
    font-size: 1em;
    width: 166px !important;
}
#welcomeScroll h1 {
    color: #BA0C2F;
    font-size: 1.3em;
    font-weight: bold;
}
.jspPane {
    width: 185px !important;
}
.jspVerticalBar {
    width: 8px !important;
}
.jspDrag {
    background: none repeat scroll 0 0 #008BB0 !important;
}
#welcomeArea {
    border-bottom: 2px solid #0096BE;
    border-top: 2px solid #0096BE;
    margin-top: 50px;
    width: 170px;
}
#welcomeArea h1 {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}
#welcomeArea p {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}
div#column_left ul {
    list-style: none outside none;
    margin: 0;
    padding: 5px 0;
}
div#column_left ul li a {
    padding: 5px 0;
}
#column_left ul li a:hover {
    color: #BA0C2F;
}
div#column_middle {
    float: left;
    width: 240px;
}
#smallContentTop {
    background: url("../images/small-content-top.png") no-repeat scroll center top transparent;
    height: 11px;
    margin: 0;
    width: 100%;
}
* + html #smallContentTop {
    margin-bottom: 13px;
}
#smallContent {
    background: url("../images/small-content-repeat.png") repeat-y scroll center center transparent;
    margin-top: -14px;
    min-height: 225px;
    padding-bottom: 12px;
}
#smallContentBottom {
    background: url("../images/small-content-bottom.png") no-repeat scroll center top transparent;
    height: 17px;
    margin-left: -7px;
    margin-top: -10px;
}
* + html #smallContentBottom {
    margin-top: 0;
}
:root #smallContentBottom {
}
#smallContentBottom {
    margin-top: -12px;
}
#smallContent h1 {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
#smallContent h2 {
    background: none repeat scroll 0 0 #BEC0C2;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    margin-left: 3px;
    padding: 3px 0;
    text-align: center;
    width: 227px;
}
#smallContent p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.05em;
    font-weight: 100;
    padding: 0 20px;
    width: 196px;
}
div#column_right {
    float: left;
    position: relative;
    width: 510px;
}
#column_right_interior {
    float: left;
    margin-top: -55px;
    width: 721px;
}
#right_interior_top p {
    float: left;
}
#column_right_interior h1, #column_right_interior h2 {
    float: left;
}
#right_interior_top h1 {
    margin-top: 19px;
}
#column_right_interior h1 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}
#column_right_interior h2 {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
}
#column_right_interior p {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    width: 556px;
}
#column_right_interior p a {
    color: #0096BE;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#galleryTop {
    background: url("../images/gallery-top.png") no-repeat scroll center top transparent;
    height: 21px;
    margin-top: -25px;
    width: 100%;
}
#galleryBottom {
    background: url("../images/gallery-bottom.png") no-repeat scroll center top transparent;
    height: 32px;
    margin-top: -1px;
    width: 100%;
}
* + html #galleryBottom {
    margin-top: -23px;
}
#galleryQuote {
    margin-top: 10px;
}
#galleryQuote p {
    color: #FFFFFF;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    width: 340px;
}
#gallery {
    margin-left: 19px;
}
#slideshow {
    overflow: hidden !important;
}
#nav {
    float: right;
    margin-right: 15px;
    padding: 5px;
    position: relative;
    z-index: 99;
}
#nav a {
    background: url("../images/pager-icon.png") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 13px;
    margin-right: 5px;
    text-indent: -9999px;
    width: 12px;
    z-index: 99;
}
a.activeSlide {
    background: url("../images/pager-active.png") no-repeat scroll center top transparent !important;
}
#largeInteriorTop {
    background: url("../images/large-interior-top.png") no-repeat scroll center top transparent;
    float: left;
    height: 32px;
    width: 371px;
}
#largeInteriorTop h1 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 30px;
    text-transform: uppercase;
}
#largeInterior {
    background: url("../images/large-interior-repeat.png") repeat-y scroll center top transparent;
    float: left;
    min-height: 365px;
    width: 722px;
}
#largeInterior p {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.04em;
    margin-left: 28px;
    margin-top: 10px;
    width: 322px;
}
#largeInteriorBottom {
    background: url("../images/large-interior-bottom.png") no-repeat scroll center top transparent;
    float: left;
    height: 30px;
    margin-top: -2px;
    width: 371px;
}
#left_content_interior {
    float: left;
    width: 369px;
}
#left_content_interior h3 {
    color: #BA0C2F;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.83em 0 0.83em 26px;
    width: 320px;
}
#left_content_interior ul li {
    margin-left: 30px;
}
#right_content_interior {
    float: right;
}
#right_content_interior img {
    border-bottom: 2px solid #BA0C2F;
    margin-right: -50px;
    padding-right: 50px;
}
#right_content_interior p {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
#content.aboutPage {
    margin-top: -30px;
}
#aboutInteriorTop {
    background: url("../images/interior2-top.png") no-repeat scroll center top transparent;
    float: left;
    height: 66px;
    width: 554px;
}
#aboutInteriorTop h1 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 25px;
    text-transform: uppercase;
}
#aboutInteriorTop h2 {
    color: #BA0C2F;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 24px;
    width: 300px;
}
#aboutInteriorTop h1, #aboutInteriorTop h2 {
    float: left;
}
#left_about_interior {
    background-color: #ECEDEE;
    float: left;
    min-height: 288px;
    padding: 8px 30px;
    width: 492px;
}
:root #left_about_interior ul li {
}
.imageMapArea #left_about_interior {
    background-color: transparent !important;
    padding: 0 !important;
}
#left_about_interior p {
    font-size: 1.1em;
    margin-top: 10px;
    width: 478px;
}
left_about_interior p span {
    font-size: 1.1em;
}
.youtubeLink {
    color: #0096BE;
    font-size: 1.04em;
    font-weight: bold;
    text-decoration: none;
}
#left_about_interior p a {
    color: #0096BE;
    text-decoration: none;
}
#left_about_interior p a:hover {
    text-decoration: underline;
}
#right_about_interior {
    float: right;
    width: 253px;
}
#right_about_interior img {
    position: relative;
    z-index: 0;
}
#imageTextLeft {
    bottom: 139px;
    font-size: 0.9em !important;
    font-weight: bold;
    left: 190px;
    position: absolute;
    width: 241px !important;
}
#imageTextRight {
    bottom: 169px;
    font-size: 0.9em !important;
    font-weight: bold;
    position: absolute;
    right: 254px;
    width: 104px !important;
    z-index: 2;
}
.imageMap {
    margin-left: -14px;
    margin-top: 24px;
}
#addressDiv {
    bottom: 50px;
    color: #FFFFFF;
    margin-top: -15px;
    position: absolute;
    right: -78px;
}
#imageInfo {
    background-color: #ECEDEE;
    border-bottom: 20px solid #BA0C2F;
    bottom: 194px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 233px;
    z-index: 2;
}
.contactInfo {
    bottom: 7px !important;
    right: 0 !important;
    width: 233px !important;
}
#nameSpan {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
#contactSpan, #contactSpan a {
    color: #BA0C2F;
    font-size: 1.1em;
    font-weight: bold;
}
#contactSpan span {
    color: #000000;
}
#contactSpan a {
    color: #BA0C2F;
    text-decoration: none;
}
#contactSpan a:hover {
    text-decoration: underline;
}
#right_about_interior {
    border-top: 2px solid #BA0C2F;
}
div#footer {
    clear: both;
    float: left;
    font-size: 0.9em;
    margin-top: 30px;
    position: relative;
    text-align: center;
    width: 100%;
}
#moreInfo {
    bottom: 40px;
    color: #0096BE;
    float: left;
    font-size: 1.1em;
    font-weight: 700;
    left: 200px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}
* + html #moreInfo {
    left: 180px;
}
#footerContact {
    float: right;
    width: 500px;
}
#phone, #fax, #tollFree {
    float: right;
    margin-right: 25px;
}
#phone p, #fax p, #tollFree p {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
}
#socialMedia {
    border-top: 2px solid #BA0C2F;
    float: right;
    padding-left: 200px;
    padding-right: 25px;
    padding-top: 3px;
    width: 240px;
}
.socialIcon {
    float: left;
}
#socialMedia a {
    margin-right: 10px;
}
* + html #socialMedia a {
    margin-left: 15px;
    margin-right: 0;
    position: relative;
}
#socialMedia p {
    color: #D8D9DA;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    text-align: right;
    width: 187px;
}
* + html #socialMedia p {
}
div#legal {
    padding: 10px;
}
div#auctori_logo {
    background: url("../images/auctori_logo.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0 !important;
    margin-top: -15px;
    text-indent: -9999px;
    width: 175px;
}
div#auctori_logo a {
    display: block;
    height: 35px;
    outline-style: none;
    width: 175px;
}
.contactUsMenu {
    display: block !important;
}
* + html .contactUsMenu li {
    padding-left: 15px;
}
.contactUsMenu a {
    color: #FFFFFF;
}
.contactUsMenu a:hover {
    color: #BA0C2F;
}
.menu * {
    list-style: none outside none;
    margin: 0;
    text-indent: 0;
}
.menu li a {
    display: block;
    text-decoration: none;
}
.menu li.top_level {
    float: left;
    margin: 0;
}
.menu li.top_level:hover > a {
    color: #FFFFFF;
}
.menu li ul, .menu li ul ul li {
    display: none;
}
.menu li:hover ul, .menu li ul li:hover ul li {
    display: block;
}
.noLine {
    background: none repeat scroll 0 0 transparent !important;
}
.interior2 #menuPrimary {
    margin-top: 60px;
}
#menuPrimary {
    clear: both;
    float: left;
    list-style: none outside none;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.menu_v {
}
.menu_v li {
    width: 100%;
}
.menu_v li.first_nav {
}
.menu_v li.last_nav {
}
.menu_v a.top_level {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.6em;
    height: 100%;
    padding: 10px 0;
}
.menu_v a.top_level:hover {
    color: #FFFFFF;
}
.menu_v .submenu {
}
.menu_v .submenu a {
}
.menu_v .submenu a:hover {
}
.menu_v .submenu li {
}
.menu_v .submenu li.firstItem {
}
.menu_v .submenu li ul {
}
.interior2 #menuSecondary li {
    background: none repeat scroll 0 0 transparent;
    display: block !important;
}
#menuSecondary {
    margin-left: 28px;
    margin-top: 60px;
}
.menu_h {
}
.menu_h li {
    width: 100%;
}
.home .menu_h li.top_level {
    background: none repeat scroll 0 0 transparent;
}
.menu_h li.top_level {
    background-color: #000000;
    margin-left: -90px;
    padding-left: 65px;
    padding-right: 20px;
}
.menu_h a.top_level {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.6em;
    height: 100%;
    padding: 7px 0;
    width: 140px;
}
.menu_v a.top_level:hover {
    background: url("../images/submenu-hover.gif") repeat-x scroll 20px 25px transparent;
    color: #BA0C2F !important;
}
.menu_v .submenu {
    background: url("../images/submenu-bottom.png") no-repeat scroll left bottom transparent;
    left: 179px;
    padding-bottom: 20px !important;
    position: absolute;
    top: -33px;
    width: 247px;
    z-index: 100;
}
.menu_v .submenu li a {
    color: #FFFFFF;
    line-height: 2;
    padding: 0 20px !important;
}
.menu_v .submenu li {
    background: url("../images/submenu-middle.png") repeat-y scroll 0 0 transparent;
    float: left;
    padding-top: 3px;
    width: 247px;
}
.menu_v .submenu li.firstItem {
    background: url("../images/submenu-top.png") no-repeat scroll 0 0 transparent;
    padding-top: 20px;
}
.menu_v li.top_level:hover > a {
    background: url("../images/submenu-hover.gif") repeat-x scroll 20px 25px transparent;
    color: #BA0C2F !important;
}
.submenu_item {
    color: #FFFFFF;
}
#sub_menu {
    left: 100px;
    position: absolute;
    top: 0;
    width: 244px;
    z-index: 99;
}
#sub_menu ul {
    background: none repeat scroll 0 0 #000000;
    min-height: 100px;
    width: 244px;
}
#column_left_interior a.top_level {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 15px;
}
#column_left_interior .menu {
    background-color: #000000;
}
.aboutPage #column_left {
    width: 144px;
}
.aboutPage #column_left .submenu {
    left: 144px;
}
.formBuilderTable table {
    table-layout: fixed;
    width: 100%;
}
.formBuilderTable td {
    vertical-align: top;
}
.radioLabel {
    margin-right: 0.5em;
}
.fieldNameOutputRadio, .fieldNameOutputTextLine, .fieldNameOutputBlank, .fieldNameOutputTextArea, .fieldNameOutputDropDown, .fieldNameOutputCheck {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.fieldNameOutputHTML {
    border-top: 1px solid #CCCCCC;
    display: block;
    font-style: italic;
    margin-top: 1em;
    padding-top: 1em;
}
.fieldWrapperOutputTextLine, .fieldWrapperOutputCheck, .fieldWrapperOutputDropDown, .fieldWrapperOutputHTML, .fieldWrapperOutputTextArea, .fieldNameBlank, .fieldWrapperOutputBlank, .fieldWrapperOutputRadio {
}
.fieldWrapperOutputTextArea textarea {
    height: 10em;
}
.fieldCaption {
    display: block;
    font-size: 0.909em;
    font-style: italic;
    padding: 0.5em 0 0 0.5em;
}
.formTableCell {
    padding-bottom: 1em;
}
.RadCalendar_Special {
    border-collapse: collapse;
    width: 100%;
}
.rcMainTable {
    width: 100%;
}
.rcTitlebar {
    background-color: #666666;
    border: 0 none;
    padding: 0.5em;
    width: 100%;
}
.rcTitlebar td {
    border: 0 none;
    padding: 0;
    text-align: center;
}
.rcTitle {
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
}
#ctl00_content2_ctl00_radCalendar_wrapper {
    clear: right;
}
#filterDiv {
    float: right;
}
#ctl00_content2_ctl00_lbls {
    font-size: 1em;
    padding: 2px;
    width: 150px;
}
.rcPrev, .rcNext, .rcFastPrev, .rcFastNext {
    background: url("http://www.wilsonmfg.com.mx/images/calendar/specialsprite.gif") no-repeat scroll 0 0 transparent;
    display: block;
    text-indent: -9999px;
    width: 17px;
}
.rcFastPrev {
    background-position: 0 4px;
}
.rcFastPrev:hover {
    background-position: 0 -46px;
}
.rcPrev {
    background-position: 0 -96px;
}
.rcPrev:hover {
    background-position: 0 -146px;
}
.rcNext {
    background-position: 0 -196px;
}
.rcNext:hover {
    background-position: 0 -246px;
}
.rcFastNext {
    background-position: 0 -296px;
}
.rcFastNext:hover {
    background-position: 0 -346px;
}
.rcWeek {
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    height: 2em;
}
.rcWeek th {
    text-align: center;
}
.rcRow a {
    color: #000000;
    display: block;
    line-height: 1.5;
    text-decoration: none;
}
.rcRow a:hover {
    color: #888888;
}
.rcRow td {
    border: 1px solid #BBBBBB;
    width: 14%;
}
.rcRow td.rcOtherMonth {
    font-size: 0;
    height: 0;
}
.rcRow #pane2 ul {
    list-style: none outside none;
    margin: 0;
}
.rcTemplate {
    background-color: #DDDDDD;
    padding: 2px 5px;
    text-align: right;
}
.rcTemplateEvent {
    height: 10em;
    overflow: auto;
}
.groupItem a {
    border-bottom: 1px dotted #AAAAAA;
    padding: 0.5em;
}
.rcDateToday {
    border: 1px solid #666666;
    color: #000000;
    font-weight: bold;
    padding: 1px 5px;
}
.rcWeekend {
    background-color: #EEEEEE;
}
.rcDayDate {
}
.rcDayMortgage {
}
.rcDayBirthday {
}
#mGalleryImageColumn {
    border-bottom: 1px solid #D9D9D9;
    margin: 0 auto;
    max-width: 508px;
    padding-bottom: 1em;
}
#mImageSideColumnPrev {
    float: left;
    margin: 100px 50px 0 0;
}
#mGalleryPreviewImage {
    float: left;
}
#mImageSideColumnNext {
    float: left;
    margin: 100px 0 0 50px;
}
#mGalleryPreviewCaption {
    clear: both;
    font-size: 0.9em;
    font-style: italic;
    padding-top: 1em;
    text-align: center;
}
.calendarContent h2 {
    font-size: 1.17em;
    margin-bottom: 1.66em;
}
.InputLabelMedium {
    font-weight: bold;
    margin-right: 1em;
}
.SectionHeaderSmall {
    font-style: italic;
    font-weight: bold;
    margin: 1em 0;
}
.calendarFeedDate {
    font-weight: bold;
}
.calendarFeedLink {
    border-bottom: 1px dotted #000000;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.calendarContent hr {
    display: none;
}
.subscribe {
   border-top: 1px solid #000000;
    clear: both;
    font-size: 0.909em;
    font-style: italic;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
}
.subscribe a, .subscribe br {
    display: none;
}
.subscribe input[type="text"] {
    font-size: 1em;
    padding: 0.25em;
    vertical-align: middle;
}
.subscribe input[type="submit"] {
    vertical-align: middle;
}
.breadcrumbLinks {
    border-bottom: 1px solid #000000;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.tweet_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tweet_list li {
    border-bottom: 1px dotted #000000;
    overflow: auto;
    padding: 10px 10px 10px 40px;
}
.tweet_join {
    font-style: italic;
    padding-left: 0.5em;
}
.tweet_text {
    display: block;
    padding: 0.5em 0 0 10px;
}
.tweet_avatar {
    float: left;
    margin-left: -30px;
    padding-right: 10px;
}
.mArticleListTitle, .mArticleListLongTitle, .mArticleListDateOfArticle {
    margin: 0.5em 0;
}
.mArticleListTitle {
    font-weight: bold;
}
.mArticleListLongTitle {
    font-style: italic;
}
.mBiography h2 {
    font-size: 1.2em;
    font-weight: bold;
}
.mBiography table {
    table-layout: fixed;
}
.mBiography td {
    padding: 0.5em 0;
    vertical-align: text-top;
}
.mBiographyList table {
    width: 100%;
}
.mBiographyListAlphaLinksBox {
    font-weight: bold;
}
.mBiographyListAlphaLinksLabel {
    padding-bottom: 0.5em;
}
.mBiographyListAlphaLinks {
    border: 1px solid #000000;
    padding: 0.2em 0.5em;
    text-align: center;
}
.mBiographyListAlphaLinks a {
    padding: 0.1em 0.25em;
    text-decoration: none;
}
.mBiographyListAlphaLinks a:hover {
    text-decoration: underline;
}
.mBiographyListNameTD {
    font-weight: bold;
}
.mBiographyListPhoneTD {
    text-align: center;
}
.mBiographyListAlphaLinksLabel, .mBiographyListAlphaLinks {
    display: block;
}
#images {
    border-bottom: 1px dotted #000000;
    float: right;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}
#tblBiography {
    clear: right;
}
#tblBiography img {
    padding: 0 10px 10px 0;
}
.mBiographyName {
    font-weight: bold;
}
.mBiographyTitle {
    font-style: italic;
}
.mBiographyPhoneLabel {
    font-size: 0.9em;
}
.mBiographyOptionsIcons {
    margin-left: 10px;
}
.mBiographyOptionsIcons a {
    background: url("http://www.wilsonmfg.com.mx/images/biography/vcard.gif") no-repeat scroll left top transparent;
    display: block;
    height: 39px;
    width: 60px;
}
.mBiographyOptionsIcons img {
    display: none;
}
#contentArea {
    margin-bottom: 1.5em;
}
#bioAreas h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
#ctl00_content2_ctl07_divChangePassword input[type="text"] {
    display: block;
    margin: 0.25em 0;
}
.myAccountDashboard {
    margin-bottom: 1em;
}
.registrationTitle {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.83em 0;
}
.registrationText {
    margin-bottom: 0.25em;
}
.registrationLinks {
    display: list-item;
    margin-left: 1.25em;
}
.registrationLinks img {
    display: none;
}
.siteSearchButton {
    float: left;
}
.siteSearchTextBox input {
    background: url("../images/search-bg.png") no-repeat scroll center top transparent;
    border: medium none;
    color: #000000;
    height: 26px;
    margin-right: -5px;
    padding-left: 5px;
    text-indent: 13px;
    width: 120px;
}
.siteSearchLabel {
    display: none;
    float: left;
}
.siteSearchTextBox {
    float: left;
}
.siteSearchButton a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/submit-bg.png") no-repeat scroll center top transparent;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #FFFFFF;
    border-style: none none none solid;
    border-width: medium medium medium 0;
    color: #000000;
    float: left;
    font-size: 1em;
    height: 26px;
    margin-right: 0;
    padding-left: 0;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    width: 49px;
}
.siteSearchButton input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/submit-bg.png") no-repeat scroll center top transparent;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #FFFFFF;
    border-style: none none none solid;
    border-width: medium medium medium 0;
    color: #000000;
    float: left;
    height: 26px;
    margin-right: 0;
    padding-top: 2px;
    width: 49px;
}
* + html .siteSearchButton {
    margin-top: 1px;
}
.mSiteSearch {
    margin-top: 0px;
}
.siteSearchContent span {
    text-transform: capitalize;
}
#left_about_interior .mSiteSearch {
    float: left;
}
#left_about_interior .itemTitle a {
    color: #000000;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
#searchResultsScrollingDiv span {
    display: block;
    width: 398px;
}
.siteSearchContentJumpPanel {
    border-bottom: 1px solid #999999;
    display: none;
    padding-bottom: 1em;
}
a.jumpLink {
    border: 1px solid #999999;
    margin-right: 0.5em;
    padding: 0.5em;
    text-decoration: none;
}
a.jumpLink:hover {
    background-color: #EEEEEE;
}
#searchResultsScrollingDiv h2 {
    margin-left: 15px;
}
#searchResultsScrollingDiv ul {
    list-style: none outside none;
    margin: 15px;
}
#searchResultsScrollingDiv span {
    display: block;
    width: 350px;
}
#searchResultsScrollingDiv li {
    margin-bottom: 1em;
}
#searchResultsScrollingDiv .itemTitle {
    color: #BA0C2F;
    display: inline;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
#searchResultsScrollingDiv .itemURL a {
    color: #BA0C2F;
    text-decoration: none;
    width: 430px;
}
.jspContainer {
    overflow: hidden;
    position: relative;
}
.jspPane {
    position: absolute;
}
.jspVerticalBar {
    background: none repeat scroll 0 0 red;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}
.jspHorizontalBar {
    background: none repeat scroll 0 0 red;
    bottom: 0;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%;
}
.jspVerticalBar *, .jspHorizontalBar * {
    margin: 0;
    padding: 0;
}
.jspCap {
    display: none;
}
.jspHorizontalBar .jspCap {
    float: left;
}
.jspTrack {
    background: none repeat scroll 0 0 #DDDDEE;
    position: relative;
}
.jspDrag {
    background: none repeat scroll 0 0 #BBBBDD;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
.jspArrow {
    background: none repeat scroll 0 0 #50506D;
    cursor: pointer;
    display: block;
    text-indent: -20000px;
}
.jspArrow.jspDisabled {
    background: none repeat scroll 0 0 #80808D;
    cursor: default;
}
.jspVerticalBar .jspArrow {
    height: 16px;
}
.jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px;
}
.jspVerticalBar .jspArrow:focus {
    outline: medium none;
}
.jspCorner {
    background: none repeat scroll 0 0 #EEEEF4;
    float: left;
    height: 100%;
}
* html .jspCorner {
    margin: 0 -3px 0 0;
}
#welcomeContainer {
    float: left;
    height: 200px;
    margin: 50px 0 0;
    overflow: hidden;
    width: 100%;
}
#welcomeArea {
    margin-top: 0 !important;
}
#welcomeScroll {
    height: 200px;
}
.ribbonBarGroupCPHSelection {
    width: 287px !important;
}
.RadRibbonBar .rrbButtonIn {
    padding-bottom: 0 !important;
}
.rrbButtonIn {
    height: 17px !important;
}
